image: Visual Studio 2017
build_script:
- ps: >-
    [xml]$doc = (Get-Content .\Library\DiscUtils.Core\DiscUtils.Core.csproj)

    $version = $doc.Project.PropertyGroup.VersionPrefix

    Update-AppveyorBuild -Version "$version build $env:APPVEYOR_BUILD_NUMBER"
- cmd: REM Build
- cmd: msbuild /t:Build /p:Configuration=Release /p:IncludeSymbols=True /Verbosity:Minimal /p:VersionSuffix=alpha
test_script:
- cmd: cd Tests\LibraryTests\bin\Release\netcoreapp1.1
- cmd: dotnet test ..\..\..\LibraryTests.csproj -c Release --no-build --logger:trx -- RunConfiguration.TargetPlatform="x64" RunConfiguration.DisableParallelization="true"
install:
- msbuild /t:Restore /Verbosity:Minimal /p:VersionSuffix=alpha
artifacts:
- path: '**\*.nupkg'
- path: '**\*.snupkg'
deploy:
- provider: NuGet
  server: https://api.nuget.org/v3/index.json
  symbol_server: https://api.nuget.org/v3/index.json
  artifact: /.*\.s?nupkg/
  api_key:
    secure: 1zdVvAQJbpFDsKJS/TXQLc6GI6SlZueTSCcL7xbK6QMisvL8V5nhLFgrceLfp1Ak
  on:
    branch: nuget